:root {
  --root-font-size: 10px;

  /* Top bar root variables */
  --nav-bar-top-height: 70px;
  --nav-bar-top-width: 100vw;

  /* Left bar root variables */
  --nav-bar-left-height: calc(100vh - var(--nav-bar-top-height));
  --nav-bar-left-width: 300px;

  /* Main section (planning-calendar) root variables */
  --planning-calendar-height: calc(100vh - var(--nav-bar-top-height));
  --planning-calendar-width: calc(100vw - var(--nav-bar-left-width));

  /* General font size */
  --general-font-size: 3rem;

  --month-display-width: calc(100vw - var(--nav-bar-left-width));
  --month-display-height: calc(100vh - var(--nav-bar-top-height));
}

html {
  font-size: var(--root-font-size);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-bar-top {
  height: var(--nav-bar-top-height);
  width: var(--nav-bar-top-width);
  font-size: var(--general-font-size);
  margin: 0;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.nav-bar-element {
  display: inline-block;
}

#main-container {
  display: flex;
}

#nav-bar-left {
  height: var(--nav-bar-left-height);
  width: var(--nav-bar-left-width);
  display: inline-block;
  font-size: var(--general-font-size);
}

#planning-calendar {
  height: var(--planning-calendar-height);
  width: var(--planning-calendar-width);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-create {
  margin: 30px;
  margin-top: 50px;
  border-radius: 50px;
  height: 60px;
  width: 200px;
  box-shadow: 1px 1px 10px 1px Black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-icon,
#create-text {
  font-size: 20px;
  display: inline;
}

#create-icon {
  height: 20px;
  width: 20px;
}

#create-text {
  height: 50px;
}
